{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "baseUrl": "./",
    "paths": {
      "*": ["node_modules", "./*"],
      "@src/*": ["src/*"],
      "@controllers/*": ["src/controllers/*"],
      "@db/*": ["src/db/*"],
      "@enums/*": ["src/enums/*"],
      "@middlewares/*": ["src/middlewares/*"],
      "@routes/*": ["src/routes/*"],
      "@schemas/*": ["src/schemas/*"],
      "@types/*": ["src/types/*"],
      "@utils/*": ["src/utils/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
